<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department and Strength Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Enter Details</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="department">Department:</label>
                <input type="text" name="department" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="strength">Strength:</label>
                <input type="number" name="strength" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a href="/index" class="btn btn-info mt-3">Click to Pie chart</a>
        <a href="/index1" class="btn btn-info mt-3">Click to Gauge chart</a>
        <a href="/index2" class="btn btn-info mt-3">Click to Bar chart</a>
        <a href="/clear" class="btn btn-danger mt-3">Click to Clear chart</a>
        <a href="/employees" class="btn btn-success mt-3">View Employee List</a>
    </div>
</body>
</html>